body {
    background-color:#becba9;

}
ul {
    list-style-type: none;
    margin: 3px;
    padding: 8px;
    width: auto;
    background-color: #517d0d;
}

li {
    margin-left: auto;
    margin-right: auto;
    display:inline;
}

li a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}*/
